---
import Github from "./iconos/Github.astro";
import Whatsapp from "./iconos/Whatsapp.astro";
import Mail from "./iconos/Mail.astro";
import Llamada from "./iconos/Llamada.astro";
---

<header>
  <nav class="border-gray-200 backdrop-blur-sm fixed w-full py-5 lg:py-0">
    <div
      class="w-full flex flex-wrap items-center justify-center lg:justify-start lg:mx-10 xl:mx-60 pt-3 xl:p-4 gap-1 lg:gap-5"
    >
      <div class="border-r pr-2 lg:pr-5 border-red-500">
        <div class="flex items-center lg:space-x-3 rtl:space-x-reverse">
          <img
            src="https://fermartini.github.io/imggastapp/perfil/portfolio.png"
            class="h-8 lg:h-16"
            alt="Martini Logo"
          />
          <span
            class="self-center text-xl lg:text-xl font-semibold whitespace-nowrap  text-white"
          >
            Fernando Martini
          </span>
        </div>
      </div>

      <div class="flex gap-2 lg:gap-5">
        <a href="mailto:fermartini.dev@gmail.com" target="_blank" class="p-0 hover:scale-150  transition-transform transition-duration-150 "><Mail clase="text-white hover:text-red-400 w-6 lg:w-8" /></a>
        <a href="https://www.linkedin.com/in/fermartini/" target="_blank" class="p-0 hover:scale-125 transition-transform transition-duration-150 "><Llamada clase="text-white hover:text-red-400 w-5 lg:w-8" /></a>
        <a href="https://github.com/fermartini" target="_blank" class="p-0 hover:scale-125 transition-transform transition-duration-150"> <Github  clase="text-white hover:text-red-400 w-6 lg:w-8" /></a>
        <a href="https://wa.me/541164618667" target="_blank" class="p-0 hover:scale-125 transition-transform transition-duration-150 "><Whatsapp  clase="text-white hover:text-red-400 w-6 lg:w-8" /></a>
      </div>
    </div>
  </nav>
</header>
